{{ form_start(form) }}
{{ form_row(form.titre) }}


{{ form_row(form.dateDebut) }}
{{ form_row(form.dateFin) }}
{{ form_row(form.description) }}



<div class="col-lg-4 col-sm-6">
	<div class="widget">
		<div class="widget-title no-margin">
			<h4>liste des oeuvres:
			</h4>
			<ul class="widget-controls">
				<li class="refresh-content" title="Refresh">
					<i class="fa fa-refresh"></i>
				</li>
				<li class="expand-content" title="Maximize">
					<i class="icon-frame"></i>
				</li>
				<li class="more-option" title="More Options">
					<i class="ti-more-alt"></i>
                    {{ form_row(form.oeuvres) }}
				</li>
			</ul>


		</div>
          <div class="widget-peding">
                                                    <ul class="todo">
                                                    </ul>
                                                    </div>
	</div>
</div>

<button type="submit" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
