{% extends 'base.html.twig' %}

{% block title %}Concours index
{% endblock %}
{% block css %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<title>Wooble Html5 Admin panel</title>
	<link rel="icon" type="{{ asset('TemplateAdmin/image/png') }}" href="{{ asset('TemplateAdmin/images/fav.png') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/themify-icons.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/line-icons.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/animate.min.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/perfect-scrollbar.min.css') }}">
	<link
	rel="stylesheet" href="{{ asset('TemplateAdmin/css/jquery.datepicker.min.css') }}">
	<!-- calander -->
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/flatweather.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/color.css') }}">
	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/responsive.css') }}">


	<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/event-calendar/eventCalendar.css') }}">

	<link rel="icon" type="{{ asset('TemplateAdmin/image/png') }}" href="{{ asset('TemplateAdmin/images/fav.png') }}">
{% endblock %}

{% block js %}

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function () {
$('#searchButton').click(function () {
var searchQuery = $('#example-search-input').val().toLowerCase();
var noEventsRow = $('#noEventsRow');


$('.event-row').each(function () {
var eventRowText = $(this).text().toLowerCase();


$(this).toggle(eventRowText.includes(searchQuery));
});


noEventsRow.toggle($('.event-row:visible').length === 0);
});
});
	</script>
	<script src="{{ asset('TemplateAdmin/js/jquery.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/perfect-scrollbar.jquery.min.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/owl.carousel.min.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/chart.min.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/echart.min.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/jquery.sparkline.min.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/custom2.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/flatweather.min.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/html5lightbox.js') }}"></script>
	<script src="{{ asset('TemplateAdmin/js/custom.js') }}"></script>
	<!-- scripts -->
	<script src="{{ asset('TemplateAdmin/js/event-calendar/jquery.eventCalendar.min.js') }}"></script>


{% endblock %}
{% block body %}


	<div class="panel-body">
		<div class="content-area">
			

				<div class="element-title">
				
				

					<div class="mega-menu demo">
						<div class="col-md-12">
							<h3>Liste des jeux concours :
					</h3>
							<div class="main-table">
								<!--_______________________________________-->
								<!--_________AJAX SEARCH__________ -->
									<div
									class="d-flex"> <!--_______________________________________-->

									<div class="col-md-4 mx-auto">
										<div class="input-group">
											<input class="form-control border-end-1 border rounded-pill" type="search" value="" id="example-search-input" style="bottom: 10px;padding-right: 12px;">
											<span class="input-group-append">
												<button class="btn btn-outline-secondary border-bottom-1 border rounded-pill ms-n5 border border-primary" type="button" id="searchButton" style="left: 60px;">
													Search
												</button>
											</span>
										</div>
									</div>
								</div>
								<!--__________-->

								<!--___________________________________________________-->
								<table class="cart-table table table-responsive">
									<thead>

										<tr>

											<th>Titre</th>
											<th>Date Debut</th>
											<th>Date Fin</th>
											<th>Description</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for concour in concours %}
											<tr class="event-row">

												<td>{{ concour.titre }}</td>
												<td>{{ concour.dateDebut ? concour.dateDebut|date('Y-m-d') : '' }}</td>
												<td>{{ concour.dateFin ? concour.dateFin|date('Y-m-d') : '' }}</td>
												<td>{{ concour.description }}</td>
												<td>


													<form method="GET" action="{{ path('app_concours_edit', {'id': concour.id}) }}">
														<button type="submit" class="btn">
															<img src="{{ asset('/TemplateAdmin/images/editer.png') }}" alt="Modifier" style="width: 20px; height: 20px;">
														</button>
													</form>

													<form method="GET" action="{{ path('app_concours_show', {'id': concour.id}) }}">
														<button type="submit" class="btn">
															<img src="{{ asset('/TemplateAdmin/images/trouve.png') }}" alt="Afficher" style="width: 20px; height: 20px;">
														</button>
													</form>


													{{ include('concours/_delete_form.html.twig') }}


												</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="6">no records found</td>
											</tr>
										{% endfor %}
									</tbody>
								</table></br>

								{{ knp_pagination_render(concours) }}
								

								


							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	{% endblock %}
