{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
<div class="panel-body">
		<div class="content-area">

	<div class="sub-bar">
                                        <div class="sub-title">
                                            <h4>Dashboard:</h4>
                                            <span> gestion des livraisons </span>
                                        </div>
                                        <ul class="bread-crumb">
                                            <li><a href="{{ path('app_home') }}" title=""><i class="fa fa-home"></i></a></li>
                                            <li>Commerce</li>
											<li>livraisons</li>
                                        </ul>
                                    </div>


	<div class="main-table">
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th>Id </th>
						<th>Adresse du client </th>
						<th>Montant total</th>
					</tr>
				</thead>
</div>

<tbody>{% for livraison in livraisons %}

					<tr>
						<td>
							<span c"sr"lass=>{{ livraison.id }}</span>
						</td>
                     <td>{{ livraison.adresse}} </td>
                     <td>{{ livraison.total}} </td>

						<td>
							<div class="prj-team">
								<ul>
                                    <li>
                                                        <a href="{{ path('app_livraison_show', {'id': livraison.id}) }}" class="edit-btn">
                                                            <img src="/TemplateAdmin/images/trouve.png" alt="Trouver" style="width: 20px; height: 20px;">
                                                        </a>
                                                    </li>
		
								<li>
										{{ include('livraison/_delete_form.html.twig') }}
									</li>
								</ul>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">vide</td>
					</tr>
				{% endfor %}

			</tbody>
            </table>

</div> 
        </div>



    
{% endblock %}
