{% extends 'base.html.twig' %}

{% block title %}Exposition index{% endblock %}

{% block body %}
    <h1>Exposition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Nbroeuvre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exposition in expositions %}
            <tr>
                <td>{{ exposition.id }}</td>
                <td>{{ exposition.nom }}</td>
                <td>{{ exposition.datedebut ? exposition.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ exposition.datefin ? exposition.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ exposition.nbroeuvre }}</td>
                <td>
                    <a href="{{ path('app_exposition_show', {'id': exposition.id}) }}">show</a>
                    <a href="{{ path('app_exposition_edit', {'id': exposition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exposition_new') }}">Create new</a>
{% endblock %}
