{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}




<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Créer un compte</title>
{% block css%}
<link rel="icon" type="image/png" href="{{ asset('TemplateAdmin/images/fav.png') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/animate.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/color.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/responsive.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/line-icons.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/themify-icons.css') }}">
{% endblock %}
<style>
    .NP{ display: flex;}
 
     

        .radio-group label {
            display: flex;
            align-items: center; /* Alignement vertical */
            margin-right: 20px; /* Espacement entre les boutons radio */
        }

        .radio-group input[type="radio"] {
            margin-right:50px; /* Espacement entre le bouton radio et le texte */
             
        }
        .NP{ display: flex;}
        .inline-text {
    white-space: nowrap;
    font-size : 16px;
}



    </style>
</head>
<body >
<!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
<div class="panel-layout">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="admin-lock vh100"> 
          <div class="admin-form">
          
            {# <div class="logo i">
            <img style="margin-left:10px;"  src="{{ asset('TemplateAdmin/images/0.png') }}" width="180" height="100" alt="OUUPS">
            </div> #}
            <h4>Formulaire d'inscription</h4>
            <span> Remplir le formulaire d'inscription</span>
            <form method="post">
                {{ form_start(form) }} 
                                {# <div class="radio-group">
            {{ form_label(form.profil) }}
            {{ form_widget(form.profil, {'expanded': true}) }}
            </div> #}
            

                  
<div class="radio-group">
  <label class="inline-text"></label>
{{ form_widget(form.profil, {'attr': {'style': 'display: flex; font-size : 16px;    white-space: nowrap;

'}}) }}
  <label class="inline-text"></label>
</div>




<label></label>
{{ form_widget(form.prenom, {'attr': {'placeholder': 'Prénom', 'style': 'width: 195px;border: none; margin-bottom: -20px;'}}) }}
 <label></label>

{{ form_widget(form.nom, {'attr': {'placeholder': 'Nom', 'style': 'width: 197px;border: none; margin-bottom: -20px;'}})}}


              <label><i class="fa fa-user-circle-o"></i></label>
             {#  <input type="text" placeholder="Login"> #}
                 {{ form_widget(form.login, {'attr': {'placeholder': 'Login'}}) }}
              <label><i class="fa fa-envelope"></i></label>
              {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
<label><i class="fa fa-unlock-alt"></i></label>
 {{ form_widget(form.mdp, {'attr': {'placeholder': 'Mot De Passe'}}) }}


              <label><i class="fa fa-unlock-alt"></i></label>
              <input type="password" placeholder="Confirmer Mot De Passe">
              {# <input type="hidden" name="profil"> #}
                {{ form_widget(form.dateInscription) }}
                {{ form_widget(form.etatCompte) }}
              
              <button style="margin-top: 40px;" type="submit"><h4 style="color: #f0edea;"> <b> {{ button_label|default("S'inscrire") }} </b> </h4></button>
              {{ form_end(form) }}
            </form>
<span>Vous avez déjà un compte? &nbsp;&nbsp;&nbsp; <b> <a style="color: #412927;" 
            href="{{path('login_user')}}" 
            title="">Se Connecter</a> </b>  </span>



        </div>
      </div>
    </div>
  </div>
</div>
{% block js %}
    <script src="{{ asset('TemplateAdmin/js/jquery.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/custom.js') }}"></script>
{% endblock %}
</body>


</html>
