<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<title> Bienvenue</title>
{% block css%}
<link rel="icon" type="image/png" href="images/fav.png">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/animate.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/color.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/responsive.css') }}">
 {% endblock %}
</head>
<body>
<!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
<div class="panel-layout">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="admin-lock vh100"> 
          <div class="admin-form">
            <div class="logo"><img style="margin-left:10px;"  src="{{ asset('TemplateAdmin/images/0.png') }}" width="180" height="100" alt="OUUPS"></div>
            <h4>Mot de Passe Oublié</h4> <br>
            {% if user == "aucun utilisateur n'est trouvé avec cet email" %} 
     <div class="alert alert-danger brd-5"> <i><img src="images/danger-icon.html" alt="" /></i>
                        <p><strong>aucun utilisateur n'est trouvé avec cet email</strong> 
                           </div>
                           {% elseif user == "Ce champ est Obligatoire !" %}   
                           <div class="alert alert-danger brd-5"> <i><img src="images/danger-icon.html" alt="" /></i>
                        <p><strong>Ce champ est Obligatoire !</strong> 
                           </div>
                           {% endif %}           
                             <span>Entez Votre Email </span>
            <form method="post">
              {{ form_start(form ,{'attr':{'novalidate':'novalidate'}}) }}
              <label><i class="fa fa-envelope"></i></label>
                {{ form_widget(form.email, {'attr': {'placeholder': ' Votre Adresse Email'}}) }}
                {% if form_errors(form.email) is not empty %}
                        <div class="alert alert-danger brd-5" >
                           {{ form_errors(form.email) }}
                           </div>
                        {% endif %}
              <button style="margin-top:40px;" type="submit">
              <h4 style="color: #f0edea;"> <b> 
              {{ button_label|default("Récupérer le mot de passe") }}  </b> </h4>
              </button>
              {{ form_end(form) }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block js %}
    <script src="{{ asset('TemplateAdmin/js/jquery.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/custom.js') }}"></script>
{% endblock %}
</body>

<!-- Mirrored from wpkixx.com/html/wooble/forgot-pass.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Jan 2022 11:42:00 GMT -->
</html>
