{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Numtel</th>
                <th>Login</th>
                <th>Cin</th>
                <th>Mdp</th>
                <th>Profil</th>
                <th>Image</th>
                <th>Genre</th>
                <th>Datenaissance</th>
                <th>Adresse</th>
                <th>DateInscription</th>
                <th>EtatCompte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.numtel }}</td>
                <td>{{ utilisateur.login }}</td>
                <td>{{ utilisateur.cin }}</td>
                <td>{{ utilisateur.mdp }}</td>
                <td>{{ utilisateur.profil }}</td>
                <td>{{ utilisateur.image }}</td>
                <td>{{ utilisateur.genre }}</td>
                <td>{{ utilisateur.datenaissance ? utilisateur.datenaissance|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.dateInscription ? utilisateur.dateInscription|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.etatCompte }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
{% endblock %}
