
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wpkixx.com/html/wooble/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Jan 2022 11:42:00 GMT -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<title> Bienvenue</title>
{% block css%}
<link rel="icon" type="image/png" href="images/fav.png">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/animate.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/color.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/responsive.css') }}">
 {% endblock %}
</head>
<body >
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
<div class="panel-layout" >
  <div class="container-fluid" >
    <div class="row">
      <div class="col-md-12" >
        <div class="admin-lock vh100" >
          <div class="admin-form" >
			  <div class="logo"><img style="margin-left:10px;"  src="{{ asset('TemplateAdmin/images/0.png') }}" width="180" height="100" alt="OUUPS"></div>
            <h4>Se Connecter</h4>
            <span>Please enter your user information</span>
            <form method="post">
              <label><i class="fa fa-envelope"></i></label>
              <input type="text" placeholder="Email Address">
              <label><i class="fa fa-unlock-alt"></i></label>
              <input type="text" placeholder="Password">
              <input type="checkbox" id="remember">
              <label for="remember">Remember Me 
              <a href="#" title="">Forgot password?</a></label>
              <button type="submit">sign in</button>
            </form>
            <span>Don't have an account? &nbsp;&nbsp;&nbsp; <b> <a style="color: #412927;" 
            href="{{path('registre_user')}}" 
            title="">S'inscrire</a> </b>  </span> </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block js %}
    <script src="{{ asset('TemplateAdmin/js/jquery.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/custom.js') }}"></script>
{% endblock %}

</body>


</html>
