<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Web Admin panel</title>
{% block css%}
<link rel="icon" type="image/png" href="{{ asset('TemplateAdmin/images/fav.png') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/animate.min.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/color.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/responsive.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/line-icons.css') }}">
<link rel="stylesheet" href="{{ asset('TemplateAdmin/css/themify-icons.css') }}">
{% endblock %}

</head>
<body>
<!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
<div class="panel-layout">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="admin-lock vh100"> 
          <div class="admin-form">
            <div class="logo"><img style="margin-left:10px;"  src="{{ asset('TemplateAdmin/images/0.png') }}" width="180" height="100" alt="OUUPS"></div>
            <h4>Sign Up Account</h4>
            <span>Please enter your user information</span>
            <form method="post">
              <label><i class="fa fa-user-circle-o"></i></label>
              <input type="text" placeholder="Complete Name">
              <label><i class="fa fa-envelope"></i></label>
              <input type="text" placeholder="Email Address">
              <label><i class="fa fa-unlock-alt"></i></label>
              <input type="text" placeholder="Password">
              <label><i class="fa fa-unlock-alt"></i></label>
              <input type="text" placeholder="Confirm Password">
              <input type="checkbox" id="checkbox">
              <label for="checkbox">I accept the <a href="#" title="">terms & Conditions</a></label>
              <button type="submit">sign up</button>
            </form>
<span>Vous avez déjà un compte? &nbsp;&nbsp;&nbsp; <b> <a style="color: #412927;" 
            href="{{path('login_user')}}" 
            title="">Se Connecter</a> </b>  </span>



        </div>
      </div>
    </div>
  </div>
</div>
{% block js %}
    <script src="{{ asset('TemplateAdmin/js/jquery.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/custom.js') }}"></script>
{% endblock %}
</body>


</html>
