{% extends 'base.html.twig' %}

{% block title %}Edit commande{% endblock %}

{% block body %}
    <div class="panel-body">
        <div class="content-area">

            <div class="sub-bar">
                <div class="sub-title">
                    <h4>Commande:</h4>
                    <span>
                        Modifier la commande "{{ commande.id }}"
                    </span>
                </div>
                <ul class="bread-crumb">
                    <li>
                        <a href="{{ path('app_home') }}" title="">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>Commerce</li>
                    <li>Commandes</li>
                    <li>Modifier commande </li>
                </ul>
            </div>

            <div class="widget">
                <div class="widget-title no-margin">
                    <h4>Formulaire modification de la commande</h4>
                    <ul class="widget-controls">
                        <li title="Retour à la liste" class="refresh-content">
                            <a href="{{ path('app_commande_index') }}" style="color: blue; text-decoration: none;"> Retour à la liste</a>
                             <i class="fa fa-arrow-left"></i>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form method="post">
                        {{ form_start(form) }}
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>{{ form_label(form.etat) }}</th>
                                    <td>{{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}</td>
                                </tr>
								
                            </tbody>
                        </table>
                        <button type="submit" class="admin-form-button">Modifier</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
