{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Détails de la commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ commande.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ commande.etat }}</td>
            </tr>
            <tr>
            <th>Client </th>
            <td>{{ commande.panier.client.nom }}</td>
                        <td>{{ commande.panier.client.prenom }}</td>

             </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">Retour à la liste des commandes</a>


    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">Modifier</a>
{{ include('commande/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}


{% endblock %}
