{% extends 'base.html.twig' %}

{% block title %}Offreenchere index{% endblock %}

{% block body %}
    <h1>Offreenchere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date</th>
                <th>IdUtilisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offreenchere in offreencheres %}
            <tr>
                <td>{{ offreenchere.id }}</td>
                <td>{{ offreenchere.montant }}</td>
                <td>{{ offreenchere.date ? offreenchere.date|date('Y-m-d') : '' }}</td>
                <td>{{ offreenchere.idUtilisateur }}</td>
                <td>
                    <a href="{{ path('app_offreenchere_show', {'id': offreenchere.id}) }}">show</a>
                    <a href="{{ path('app_offreenchere_edit', {'id': offreenchere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offreenchere_new') }}">Create new</a>
{% endblock %}
