{% extends 'base.html.twig' %}

{% block title %}Venteencheres index{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center mb-5">Liste des ventes aux enchères</h1>

                    <!-- AJAX SEARCH -->
        <div class="d-flex">
            <div class="col-md-4 mx-auto">
                <div class="input-group">
                    <input class="form-control border-end-1 border rounded-pill" type="search" value="" id="example-search-input" style="bottom: 10px;padding-right: 12px;">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-bottom-1 border rounded-pill ms-n5 border border-primary" type="button" id="searchButton"style="left: 60px;">
                            Search
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Conteneur pour afficher les résultats -->
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Prix de départ</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venteenchere in venteencheres %}
                        <tr class="event-row">
                            <td>{{ venteenchere.id }}</td>
                            <td>{{ venteenchere.datedebut|date('d/m/Y H:i') }}</td>
                            <td>{{ venteenchere.datefin|date('d/m/Y H:i') }}</td>
                            <td>{{ venteenchere.prixdepart }} DT</td>
                            <td>{% if venteenchere.statue %}En cours{% else %}Terminée{% endif %}</td>
                            <td>
                                <a href="{{ path('app_venteencheres_show', {'id': venteenchere.id}) }}" class="btn btn-primary">Voir</a>
                                <a href="{{ path('app_venteencheres_edit', {'id': venteenchere.id}) }}" class="btn btn-success">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchButton').click(function () {
                var searchQuery = $('#example-search-input').val().toLowerCase();
                var noEventsRow = $('#noEventsRow');
        
                $('.event-row').each(function () {
                    var eventRowText = $(this).text().toLowerCase();
        
                    $(this).toggle(eventRowText.includes(searchQuery));
                });
        
                noEventsRow.toggle($('.event-row:visible').length === 0);
            });
        });
    </script>
{% endblock %}
