{% extends 'base.html.twig' %}

{% block title %}New Oeuvreart
{% endblock %}

{% block body %}
	<div class="panel-body">
		<div class="content-area">

	<div class="sub-bar">
                                        <div class="sub-title">
                                            <h4>Oeuvre d'art:</h4>
                                            <span> Ajouter Oeuvre d'art </span>
                                        </div>
                                        <ul class="bread-crumb">
                                            <li><a href="{{ path('app_home') }}" title=""><i class="fa fa-home"></i></a></li>
                                            <li>Galerie</li>
											<li>Oeuvre d'art</li>
											<li>Ajouter Oeuvre d'art</li>
                                        </ul>
                                    </div>
                                    {# <div class="info-section">
                                        
                                        
                                        
                                    </div> #}
	<div class="widget">
	    <div class="widget-title no-margin">
			<h4>Formulaire d'ajout d'oeuvre d'art</h4>
        </div>
		<div >
		{{ form_errors(form) }}
			{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
			
				<div class="card-body">
					<table class="table">
						<tbody>

							<tr>
								<th>{{ form_label(form.idCategorie) }}</th>
								<td>
								{{ form_widget(form.idCategorie, {'attr': {'class': 'form-control'}}) }}
								{% if form_errors(form.idCategorie)|length > 0 %}
										<div class="alert alert-danger" style="background-color: transparent; border: none; padding: 5px;">
    <i class="fa fa-exclamation-circle" style="color: red; font-size: 14px; margin-right: 5px;"></i>
    <span style="color: red; font-size: 14px; font-weight: bold;">{{ form_errors(form.idCategorie) }}</span>
</div>

									{% endif %}
								</td>
								
							</tr>


							<tr>
								<th>{{ form_label(form.titre) }}</th>
								<td>
								{{ form_widget(form.titre, {'attr': {'class': 'form-control', 'id': 'form_titre'}}) }}
								{% if form_errors(form.titre)|length > 0 %}
										<div class="alert alert-danger" style="background-color: transparent; border: none; padding: 5px;">
    <i class="fa fa-exclamation-circle" style="color: red; font-size: 14px; margin-right: 5px;"></i>
    <span style="color: red; font-size: 14px; font-weight: bold;">{{ form_errors(form.titre) }}</span>
</div>

									{% endif %}
								</td>
								
							</tr>

							<tr>
								<th>{{ form_label(form.idArtiste) }}</th>
								<td>
								{{ form_widget(form.idArtiste, {'attr': {'class': 'form-control'}}) }}
								{% if form_errors(form.idArtiste)|length > 0 %}
										<div class="alert alert-danger" style="background-color: transparent; border: none; padding: 5px;">
    <i class="fa fa-exclamation-circle" style="color: red; font-size: 14px; margin-right: 5px;"></i>
    <span style="color: red; font-size: 14px; font-weight: bold;">{{ form_errors(form.idArtiste) }}</span>
</div>

									{% endif %}
								</td>
								
							</tr>


							<tr>
								<th>{{ form_label(form.description) }}</th>
								<td>{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
								{% if form_errors(form.description)|length > 0 %}
										<div class="alert alert-danger" style="background-color: transparent; border: none; padding: 5px;">
    <i class="fa fa-exclamation-circle" style="color: red; font-size: 14px; margin-right: 5px;"></i>
    <span style="color: red; font-size: 14px; font-weight: bold;">{{ form_errors(form.description) }}</span>
</div>

									{% endif %}
								</td>
								
							</tr>

							<tr>
								<th>{{ form_label(form.prixvente) }}</th>
								<td>{{ form_widget(form.prixvente, {'attr': {'class': 'form-control', 'id': 'form_prixvente'}}) }}
								{% if form_errors(form.prixvente)|length > 0 %}
										<div class="alert alert-danger" style="background-color: transparent; border: none; padding: 5px;">
    <i class="fa fa-exclamation-circle" style="color: red; font-size: 14px; margin-right: 5px;"></i>
    <span style="color: red; font-size: 14px; font-weight: bold;">{{ form_errors(form.prixvente) }}</span>
</div>


									{% endif %}
								</td>
								
							</tr>

							

							<tr>
								<th>{{ form_label(form.image) }}</th>
								<td>{{ form_widget(form.image, {'attr': {'class': 'form-control', 'id': 'form_image'}}) }}
								{% if form_errors(form.image)|length > 0 %}
										<div class="alert alert-danger" style="background-color: transparent; border: none; padding: 5px;">
    <i class="fa fa-exclamation-circle" style="color: red; font-size: 14px; margin-right: 5px;"></i>
    <span style="color: red; font-size: 14px; font-weight: bold;">{{ form_errors(form.image) }}</span>
</div>

									{% endif %}
								</td>
								
							</tr>


						</tbody>
					</table>
					<button type="submit" class="admin-form-button">Ajouter</button>
				</div>
			
			{{ form_end(form) }}
		</div>

		


	</div>


{% endblock %}
