
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from wpkixx.com/html/wooble/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Jan 2022 11:41:09 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>  ArtVue  </title>

  

    <!--Css Nourhen zedetou  -->
    <style>
	.table tr,
	.table th,
	.table td {
		background-color: transparent;
	}

	

	

	#form-container {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    border: 0px solid #ccc;
    border-radius: 10px;

}

     .admin-form-button {
        background: rgba(0, 0, 0, 0) linear-gradient(-135deg, #dbc2ad 0%, #e09f74 100%) repeat scroll 0 0;
        border: medium none;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 25px;
        margin-top: 20px;
        padding: 13px 0;
        text-transform: uppercase;
        width: 25%; 
        transition: all 0.2s linear 0s;
        border-radius: 30px;
        margin: auto;
        display: block;
    }

    .admin-form-button:hover {
        background: #333;
    }
</style>

<!--Css Nourhen youfa  -->


    <link rel="icon" type="image/png" href="{{ asset('TemplateAdmin/images/fav.png') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/perfect-scrollbar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/jquery.datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/sweetalert2@10') }}">
    {# <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css') }}"> #}
    <!-- calander -->
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/color.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('TemplateAdmin/css/flatweather.css') }}">


   

</head>
<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="panel-layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-page">
                        <header>
                            <div class="side-menus">
                                <div class="side-header">
									<div class="logo"><a title="" href="index.html"><img alt="" src="{{ asset('TemplateAdmin/images/resources/admin.png') }}" ></a></div>
                                    <nav class="slide-menu">
                                        <span>Navigation           <i class="ti-layout"></i></span>
                                        <ul class="parent-menu">
                                            <li> <a href="{{path('app_home')}}" title="#"><i class="fa fa-dashboard"></i><span>Dashboard</span></a> </li>
                                            <li class="menu-item-has-children"> <a title=""><i class="fa fa-image"></i><span>Galerie</span></a>
                                                <ul class="mega">
                                                    <li><a href="{{ path('app_categorie_index') }}" title="">Catégories</a></li>
                                                    <li><a href="{{ path('app_oeuvreart_index') }}">Oeuvre d'art</a></li>
                                                    <li><a href="{{ path('chart_prix_vente') }}">Statistique</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"> <a title=""><i class="fa fa-shopping-cart"></i><span>WooCommercee</span></a>
                                                <ul class="mega">
                                                    <li><a href="product.html" title="">product</a></li>
                                                    <li><a href="product-detail.html">product-detail</a></li>
                                                    <li><a href="product-order.html">product-order</a></li>
                                                    <li><a href="product-add.html">add product</a></li>
                                                    <li><a href="product-cart.html">product cart</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"> <a title="#"><i class="fa fa-bookmark-o"></i><span>UI Elements</span></a>
                                                <ul>
                                                    <li><a href="accordion-n-tabs.html">accordions & tabs</a></li>
                                                    <li><a href="elements.html">elements</a></li>
                                                    <li><a href="invoices.html">invoices</a></li>
                                                    <li><a href="tabels.html">tabels styles</a></li>
                                                    <li><a href="typography.html">typography</a></li>
                                                    <li><a href="megamenu.html">mega menu styles</a></li>
                                                    <li><a href="socials-btns.html">social buttons</a></li>
                                                    <li><a href="testimonials.html">testimonials styles</a></li>
													<li><a href="calendar.html">event calendar</a></li>
                                                </ul>
                                            </li>
											<li><a href="inbox.html" title=""><i class="fa fa-inbox"></i><span>inbox</span><ins>5</ins></a></li>
                                            <li><a href="charts.html" title=""><i class="fa fa-bar-chart"></i><span>charts</span></a></li>
                                                            <li> <a href="{{path('listUtilisateur',{'id': app.session.get('user_id') })}}" title=""><i class="fa fa-users"></i><span>Utilisateurs</span></a> </li>

											<li class="menu-item-has-children"> 
												<a title=""><i class="fa fa-flag"></i><span>Icons</span></a>
                                                <ul>
                                                    <li><a href="icons.html">Font Awesome</a></li>
                                                    <li><a href="icons2.html">Themify Icons</a></li>
                                                </ul>
                                            </li>
											<li class="menu-item-has-children"> <a title=""><i class="fa fa-inbox"></i><span>Pages</span></a>
                                                <ul class="mega">
                                                    <li><a href="profile.html">profile</a></li>
                                                    <li><a href="edit-profile.html">edit profile</a></li>
                                                    <li><a href="login.html">login</a></li>
                                                    <li><a href="register.html">register</a></li>
                                                    <li><a href="forgot-pass.html">forgot password</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"> <a title=""><i class="fa fa-external-link"></i><span>extras</span></a>
                                                <ul class="mega">
                                                    <li><a href="404.html">404 error page</a></li>
                                                    <li><a href="505.html">505 error page</a></li>
                                                    <li><a href="maintenance.html">maintenance</a></li>
                                                    <li><a href="coming-soon.html">coming soon </a></li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </header>
                        <!-- side header -->
                        <div class="topbar">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="logo"><a href="index.html" title=""><img src="images/logo.png" alt=""></a></div>
                                    </div>
                                    <div class="col-lg-9">
                                        <ul class="notify-area">
                                            <li>
                                                <div class="nav-icon3"> <span></span> <span></span> <span></span> <span></span> </div>
                                                <i class="fa fa-navicon nav-icon3"></i>
                                            </li>
                                        </ul>
                                        <div class="t-search">
                                            <form method="post">
                                                <input type="text" placeholder="Entrer votre mot-clé ">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                        <ul class="seting-area">
                                            {# <li class="langages">
                                                <a href="#" title="">Eng</a>
                                                <ul class="drop language">
                                                    <li class="lang-selected"><a href="#"><i class="fa fa-check"></i> Eng</a></li>
                                                    <li><a href="#">Rus</a></li>
                                                    <li><a href="#">Jap</a></li>
                                                    <li><a href="#">Arb</a></li>
                                                </ul>
                                            </li> #}
                                        </ul>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="user-head">
                                            <div class="admin">
                                                <div class="admin-avatar">
                                                <img src="{{ asset('oeuvre/' ~ app.session.get('userConnected').image) }}" alt="Image" style="width: 50px; height: 50px">
                                                 <i class="online"></i> </div>
                                            </div>
                                            <div class="drop setting"> <span class="drop-head">{{ app.session.get('userConnected').nom}} {{ app.session.get('userConnected').prenom }}
                                            <i>{% if app.session.get('user_profil') == 0 %}
                                              Admin
                                              {% elseif app.session.get('user_profil') == 1 %} 
                                              Artiste
                                              {% else %}
                                              Client
                                              {% endif %} </i></span>
                                                <ul class="drop-meta">
                                                            <li> <a href="{{path('app_utilisateur_edit',{'id': app.session.get('user_id') })}}"  title="">
                                                                <i class="fa fa-eyedropper"></i>Modifier Profile</a> </li>
                                                                <li> <a href="{{path('app_utilisateur_show',{'id': app.session.get('user_id') })}}" title=""><i class="fa fa-eye"></i>Consulter Profile</a> </li>
                                                </ul>
                                                            <span class="drop-bottom"><a  href="{{path('login_user')}}"  title="">
                                                            <i class="fa fa-sign-out"></i>Déconnecter</a></span> 
                                                
                                                 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-content">
                            <div class="responsive-header">
                                <div class="logo-area">
                                    <ul class="notify-area">
                                        <li>
                                            <div class="nav-icon3"> <span></span> <span></span> <span></span> <span></span> </div>
                                        </li>
                                        
                                    </ul>
									
                                    <div class="user-head">
                                            <div class="admin">
                                                <div class="admin-avatar">
                                                <img src="{{ asset('TemplateAdmin/images/resources/admin.png') }}" alt="">
                                                 <i class="online"></i> </div>
                                            </div>
                                            <div class="drop setting"> <span class="drop-head">stifen Doe 
                                            <i>30 days trial </i></span>
                                                <ul class="drop-meta">
                                                            <li> <a href="{{path('app_utilisateur_edit',{'id': 12 })}}"  title="">
                                                                <i class="fa fa-eyedropper"></i>Modifier Profile</a> </li>
                                                                <li> <a href="{{path('app_utilisateur_show',{'id': 12 })}}" title=""><i class="fa fa-eye"></i>Consulter Profile</a> </li>
                                                </ul>
                                                            <span class="drop-bottom"><a  href="{{path('login_user')}}"  title="">
                                                            <i class="fa fa-sign-out"></i>Déconnecter</a></span> 
                                                
                                                 </div>
                                        </div>
									<ul class="seting-area">
									{# <li class="langages">
										<a title="" href="#">Eng</a>
										<ul class="drop language">
											<li class="lang-selected"><a href="#"><i class="fa fa-check"></i> Eng</a></li>
											<li><a href="#">Rus</a></li>
											<li><a href="#">Jap</a></li>
											<li><a href="#">Arb</a></li>
										</ul>
									</li> #}
								</ul>
                                </div>
                                <div class="t-search">
                                    <form method="post">
                                        <input type="text" placeholder="entrer votre mot-clé">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- responsive header -->



	<div class="panel-body">
		<div class="content-area">

			<div class="sub-bar">
				<div class="sub-title">
					<h4>Oeuvre d'art:</h4>
					<span>Gestion des oeuvre d'art</span>
				</div>
				<ul class="bread-crumb">
					<li>
						<a href="{{ path('app_home') }}" title="">
							<i class="fa fa-home"></i>
						</a>
					</li>
					<li>Galerie</li>
					<li>Oeuvre d'art</li>
				</ul>
			</div>
			<div class="info-section">
				<div class="panel-widget style2">
					<div class="b-meta">
						<img src="{{ asset('TemplateAdmin/images/categorie.png') }}" alt="" width="40" height="40">
						<div class="info-meta">
							<span>Nombre des catégories</span>
							<h4>{{ categoriesCount }}</h4>

						</div>
						<div class="spark">
							<div class="sparkline_line"></div>
						</div>
					</div>
				</div>
				<div class="panel-widget style2">
					<div class="b-meta">
						<img src="{{ asset('TemplateAdmin/images/image.png') }}" alt="" width="50" height="50">
						<div class="info-meta">
							<span>Nombre des Oeuvre d'art</span>
							<h4>{{ totalArtworksCount }}</h4>

						</div>
						<div class="spark">
							<div class="sparkline_three"></div>
						</div>
					</div>
				</div>
				<div class="panel-widget style2">
					<div class="b-meta">
						<img src="{{ asset('TemplateAdmin/images/categorie.png') }}" alt="" width="40" height="40">
						<div class="info-meta">
							<span>La meilleur catégorie</span>
							<h4 style="font-size: 25px;">{{ bestCategoryName }}</h4>

						</div>
						<div class="spark">
							<div class="sparkline22"></div>
						</div>
					</div>
				</div>
			</div>
			<div style="margin-top: 40px">
				<form method="post">
					<input id="searchInput" type="text" placeholder="Entrer votre mot-clé " style="border: none; padding: 10px; width: 20%; background-color: transparent; border-bottom: 1px solid #A77B7F; text-align: center; font-size: 12px; font-weight: 400; color: #D3A0A5;">
					<button type="submit" style="border: none; background-color: #D3A0A5; padding: 5px 30px; cursor: pointer; display: inline-block; border-radius: 50px; font-weight: 400;">
						<i class="fa fa-search"></i>																																																																  
						</button>																																																																  
					
				</form>
			</div>

			<div class="widget">
				<div class="widget-title no-margin">
					<h4>Oeuvre d'art</h4>
					<span>Les oeuvre d'art accepté</span>
					<ul class="widget-controls">
						<li title="Ajouter nouveau catégorie" class="refresh-content">
							<a href="{{ path('app_oeuvreart_new') }}"><img src="/TemplateAdmin/images/plus.png" style="width: 25px; height: 25px;" alt="Ajouter Catégorie">
								Ajouter Oeuvre d'art</a>
						</li>
						<!-- Ajout de l'icône de téléchargement -->
						<li title="Télécharger" class="download-content">
							<a href="{{ path('app_pdf') }}" target="_blank">
								<img src="/TemplateAdmin/images/pdf.png" style="width: 25px; height: 25px;" alt="telecharger">
								Télécharger tout en PDF
							</a>
						</li>

						app_pdf
					</ul>
				</div>
				<div class="main-table">
					<table class="table table-hover table-responsive">
						<thead>
							<tr>
								<th>Id</th>
								<th class="image-column">Image</th>
								<th>Titre</th>
								<th>Catégorie</th>
								<th style="width: 250px;">Description</th>
								<!-- Définir la largeur de la colonne de description -->
								<th>Prix</th>
								<th>Status</th>
								<th>Date d'ajout</th>

								<th>Actions</th>
							</tr>
						</thead>
						<tbody id="searchTableBody">
							{% if oeuvrearts is not empty %}
								{% for oeuvreart in oeuvrearts %}
									<tr>
										<td class="sr">{{ oeuvreart.idoeuvreart }}</td>
										<td>
											<a href="{{ path('app_oeuvreart_show', {'idoeuvreart': oeuvreart.idoeuvreart}) }}">
												<img src="{{ asset('oeuvre/' ~ oeuvreart.image) }}" alt="Image" style="width: 70px; height: 90px">
											</a>
										</td>
										<td>{{ oeuvreart.titre }}</td>
										<td>{{ oeuvreart.idCategorie.nomcategorie }}</td>
										<td>{{ oeuvreart.description }}</td>
										<td>
											<span class="progres">{{ oeuvreart.prixvente }}
												DT</span>
										</td>
										<td>
											<span style="font-weight: bold; color: green;">{{ oeuvreart.status }}</span>
										</td>
										<td>{{ oeuvreart.dateajout ? oeuvreart.dateajout|date('Y-m-d') : '' }}</td>

										<td>
											<div class="prj-team">
												<ul>
													<li>
														<a href="{{ path('app_oeuvreart_show', {'idoeuvreart': oeuvreart.idoeuvreart}) }}" class="edit-btn">
															<i class="ti-search" style="color:green;"></i>
														</a>
													</li>
													<li>
														<a href="{{ path('app_oeuvreart_edit', {'idoeuvreart': oeuvreart.idoeuvreart}) }}" class="edit-btn">
															<i class="icon-pencil" style="color:blue;"></i>
														</a>
													</li>
													<li>
														{{ include('oeuvreart/_delete_form.html.twig') }}
													</li>
												</ul>
											</div>
										</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="10">Aucun enregistrement trouvé</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
</body>
 <script src="{{ asset('TemplateAdmin/js/jquery.js') }}"></script>
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/sweetalert2@10') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/chart.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/echart.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/calander.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/sparkline.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/nice-select.js') }}"></script>
    <!-- calander -->
    <script src="{{ asset('TemplateAdmin/js/calander-int.js') }}"></script>
    <!-- calander -->
    <script src="{{ asset('TemplateAdmin/js/custom.js') }}"></script>
    <!-- scripts -->
    <script src="{{ asset('TemplateAdmin/js/custom2.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/jvectormap.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/flatweather.min.js') }}"></script>
    <script src="{{ asset('TemplateAdmin/js/html5lightbox.js') }}"></script>
   <script src="{{ asset('https://code.jquery.com/jquery-3.6.0.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#searchTableBody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
