{% extends 'base.html.twig' %}

{% block title %}Oeuvreart{% endblock %}

{% block body %}
    <h1>Oeuvreart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idoeuvreart</th>
                <td>{{ oeuvreart.idoeuvreart }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ oeuvreart.image }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ oeuvreart.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ oeuvreart.description }}</td>
            </tr>
            <tr>
                <th>Prixvente</th>
                <td>{{ oeuvreart.prixvente }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ oeuvreart.status }}</td>
            </tr>
            <tr>
                <th>Dateajout</th>
                <td>{{ oeuvreart.dateajout ? oeuvreart.dateajout|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_oeuvreart_index') }}">back to list</a>

    <a href="{{ path('app_oeuvreart_edit', {'idoeuvreart': oeuvreart.idoeuvreart}) }}">edit</a>

    {{ include('oeuvreart/_delete_form.html.twig') }}
{% endblock %}
