{% extends 'baseClient.html.twig' %}

{% block title %}Galerie index
{% endblock %}

{% block body %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Vibrant et Inspirant</p>
						<h1>Galerie</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">
						<ul>
							<a href="{{ path('app_galerie') }}">
								<li class="active">Tous</li>
							</a>
							{% for categorie in categories %}
								<a href="{{ path('app_galerie_by_categorieAff', {'idcategorie': categorie.idcategorie}) }}">
									<li>{{ categorie.nomcategorie }}</li>
								</a>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-md-12">
					<form action="{{ path('app_galerie') }}" method="GET">
						<div class="input-group" style="margin-bottom: 20px;">
							<input type="text" placeholder="Rechercher un artiste..." name="search" id="search" style="border: none; padding: 10px; width: 20%; background-color: transparent; border-bottom: 1px solid #A77B7F; text-align: center; font-size: 12px; font-weight: 400; color: #D3A0A5;">
							<div class="input-group-append">
								<button type="submit" style="border: none;
																																																																																																														  background-color: #D3A0A5;
																																																																																																														  padding: 5px 30px;
																																																																																																														  cursor: pointer;
																																																																																																														  display: inline-block;
																																																																																																														  border-radius: 50px;
																																																																																																														  font-weight: 400;">
									<i class="fas fa-search"></i>
									Rechercher</button>
							</div>
						</div>

					</form>
				</div>
			</div>


			<div class="row product-lists">
				{% if oeuvrearts|length == 0 %}
					<div class="col-md-12">
						<p>Aucune œuvre d'art trouvée pour cette recherche.</p>
					</div>
				{% else %}
					{% for oeuvreart in oeuvrearts %}
						<div class="col-lg-4 col-md-5">
							<div class="single-latest-news" style="height: 500px;">
								<div class="latest-news-bg" style="background-image: url('{{ asset('oeuvre/' ~ oeuvreart.image) }}');"></div>
								<div class="news-text-box">

									
									<h3>
										<a href="">{{ oeuvreart.titre }}</a>
									</h3>
									<p class="blog-meta">
										<span class="author">
											<i class="fas fa-user"></i>
											{{ oeuvreart.idArtiste.nom }}
											{{ oeuvreart.idArtiste.prenom }}
										</span>
										<span class="date">
											<i class="fas fa-calendar"></i>
											{{ oeuvreart.dateAjout|date('Y-m-d') }}
										</span>
									</p>
									<p class="excerpt">
										{{ oeuvreart.description|slice(0, 70) ~ '...' }}
									</p>
									<a href="#" class="read-more-btn ml-2">
										<i class="fas fa-shopping-cart"></i>
										Ajouter au panier
									</a>
									<a href="{{ path('app_galerie_show', {'idoeuvreart': oeuvreart.idoeuvreart}) }}" class="read-more-btn ml-5">Savoir plus
										<i class="fas fa-angle-right"></i>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}

				{% endif %}
			</div>


		</div>
	</div>
	<!-- end products -->
{% endblock %}
