{% extends 'baseArtiste.html.twig' %}

{% block title %}Galerie index
{% endblock %}

{% block body %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Vibrant et Inspirant</p>
						<h1>Mon Galerie</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">


		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">

						<ul>
							<a href="{{ path('app_galerieOeuvre_artiste') }}">
								<li class="active">Tous</li>
							</a>
							{% for categorie in categories %}
								<a href="{{ path('app_galerieOeuvre_artisteByCategorie', {'idcategorie': categorie.idcategorie}) }}">
									<li>{{ categorie.nomcategorie }}</li>
								</a>
							{% endfor %}

						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="product-filters">

						<ul>
							<li title="Ajouter nouveau catégorie" style="border-color: transparent;" >
							<a href="{{ path('app_oeuvreart_newGalerie') }}"><img src="/TemplateAdmin/images/plus.png" style="width: 25px; height: 25px;" alt="Ajouter Catégorie">
								Ajouter Oeuvre d'art</a>
						</li>

						</ul>
					</div>
				</div>
			</div>

			<div class="row product-lists">

				{% if oeuvrearts is empty %}
					<div class="col-md-12">


						<div class="alert alert-info" style="padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; color: #31708f; background-color: #d9edf7; border-color: #bce8f1;">
							Vous n'avez actuellement aucune œuvre d'art!
					
						</div>


					</div>
				{% else %}


					{% for oeuvreart in oeuvrearts %}
						<div class="col-lg-4 col-md-5">
							<div class="single-latest-news" style="height: 370px;">
								<a href="{{ path('app_galerie_show', {'idoeuvreart': oeuvreart.idoeuvreart}) }}">
									<div class="latest-news-bg" style="background-image: url('{{ asset('oeuvre/' ~ oeuvreart.image) }}');"></div>
								</a>
								<div class="news-text-box">
									<h3>
										<a href="">{{ oeuvreart.titre }}</a>
									</h3>
									<div style="display: flex; align-items: center;">
										<a href="{{ path('app_oeuvreart_edit', {'idoeuvreart': oeuvreart.idoeuvreart}) }}" class="edit-btn" style="margin-right: 20px;">
											<img src="/TemplateAdmin/images/editer.png" alt="Modifier" style="width: 20px; height: 20px;">
										</a>
										{{ include('oeuvreart/_delete_form.html.twig') }}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				{% endif %}
			</div>


			{# <div class="row">
							<div class="col-lg-12 text-center">
								<div class="pagination-wrap">
									<ul>
										<li><a href="#">Prev</a></li>
										<li><a href="#">1</a></li>
										<li><a class="active" href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">Next</a></li>
									</ul>
								</div>
							</div>
						</div> #}
		</div>
	</div>
	<!-- end products -->

{% endblock %}
