
	{% extends 'baseClient.html.twig' %}

{% block title %}Details oeuvres{% endblock %}


{% block body %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>VOIR PLUS DE DÉTAILS</p>
						<h1>{{ oeuvreart.titre }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="{{ asset('oeuvre/' ~ oeuvreart.image) }}" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
                    
                    </br></br>
						<h3>{{ oeuvreart.titre }}</h3>
						<p class="single-product-pricing"> {{ oeuvreart.prixvente }} DT</p>
						<p>{{ oeuvreart.description }}</p>
						<div class="single-product-form">
						<form action="{{ path('app_panier_add_oeuvre', {'oeuvreId': oeuvreart.idoeuvreart}) }}" method="post">
    <input type="number" name="quantite" placeholder="0" value="1" min="1"> <!-- Ajout de min="1" pour s'assurer que la valeur minimale est 1 -->
    <button type="submit" class="cart-btn"><i class="fas fa-shopping-cart"></i> Ajouter au panier</button>
</form>

							<p><strong>Catégorie: </strong>{{ oeuvreart.idCategorie.nomcategorie }}</p>
						</div>
						<div id="alert-container"></div>

						<h4>Share:</h4>
						<ul class="product-share">
							<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href=""><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- more products -->
	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Autre</span> {{ oeuvreart.idCategorie.nomcategorie }}</h3>
						<p>Explorez d'avantage de merveilles artistiques de la même catégorie, où l'imagination rencontre l'expression à travers une diversité d'œuvres extraordinaires</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- autre de meme catégorie -->

        <div class="row">
             {% for oeuvreart in similarOeuvres %}
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="{{ path('app_galerie_show', {'idoeuvreart': oeuvreart.idoeuvreart}) }}">
                                <img src="{{ asset('oeuvre/' ~ oeuvreart.image) }}" alt="{{ oeuvreart.titre }}">
                            </a>
                        </div>
                        <h3>{{ oeuvreart.titre }}</h3>
                        <p class="product-price"><span>Prix</span> {{ oeuvreart.prixvente }} DT</p>
                        <a href="{{ path('app_oeuvreart_show', {'idoeuvreart': oeuvreart.idoeuvreart}) }}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Ajouter au panier</a>
                    </div>
                </div>
            {% endfor %}
        </div>

       
    
<!-- end autre de meme catégorie -->
			</div>
		</div>
	</div>
	<!-- end more products -->
 
	<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault(); // Empêcher le formulaire de se soumettre normalement
            
            // Envoyer la requête via AJAX
            var form = this;
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open(form.method, form.action, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.error) {
                        // Afficher l'alerte d'erreur
                        var alertContainer = document.getElementById('alert-container');
                        alertContainer.innerHTML = '<div class="alert alert-danger" role="alert">' + response.error + '</div>';
                    } else {
                        // Rediriger vers une autre page ou effectuer une autre action
                        window.location.href = response.redirect;
                    }
                }
            };
            xhr.send(formData);
        });
    });
</script>



{% endblock %}
