{% extends 'base.html.twig' %}

{% block title %}Modifier Categorie
{% endblock %}

{% block body %}
	<div class="sub-bar" style=" margin-top: 70px; padding-right: 30px ;padding-left: 20px">
		<div class="sub-title">
			<h4>Catégorie:</h4>
			<span>Modifier une catégorie d'œuvres d'art
			</span>
		</div>
		<ul class="bread-crumb">
			<li>
				<a href="{{ path('app_home') }}" title="">Home</a>
			</li>
			<li>Galerie</li>
			<li>Catégorie</li>
			<li>Modifier</li>
		</ul>
	</div>
	<div class="panel-layout">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="admin-lock vh100">
						<div class="admin-form">
							<div class="logo"><img src="/TemplateAdmin/images/categorieImage.png" style="width: 1000px; height: 270px;" alt=""></div>
							<h4>Modifier Catégorie</h4>
							<br>
							<form method="post">
								{{ form_start(form) }}
								{{ form_row(form.nomcategorie, {'label': 'Nom du catégorie à modifier'}) }}
								{% if form_errors(form.nomcategorie)|length > 0 %}
									<div class="alert alert-danger" style="background-color: transparent; color: red; font-weight: bold; border: 1px solid transparent; font-size: 12px; padding-left: 0; padding-right: 0; text-align: left;">
										<i class="fa fa-exclamation-circle"></i>
										<!-- Icône d'erreur -->
										{{ form_errors(form.nomcategorie)}}
									</div>
								{% endif %}
								<button type="submit">Modifier</button>
								{{ form_end(form) }}
							</form>
							<a href="{{ path('app_categorie_index') }}">Retour au list</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
