{% extends 'base.html.twig' %}

{% block title %}Categorie index
{% endblock %}


{% block body %}

	<div class="panel-body">
		<div class="content-area">

	<div class="sub-bar">
                                        <div class="sub-title">
                                            <h4>Dashboard:</h4>
                                            <span> gestion des catégories </span>
                                        </div>
                                        <ul class="bread-crumb">
                                            <li><a href="{{ path('app_home') }}" title=""><i class="fa fa-home"></i></a></li>
                                            <li>Galerie</li>
											<li>Catégorie</li>
                                        </ul>
                                    </div>
                                    <div class="info-section">
                                        <div class="panel-widget style2">
                                            <div class="b-meta">
                                                <img src="{{ asset('TemplateAdmin/images/categorie.png') }}" alt="" width="40" height="40">
                                                <div class="info-meta">
                                                    <span>Nombre des catégories</span>
                                                    <h4>{{ categoriesCount }}</h4>
													
                                                    
                                                </div>
                                                <div class="spark">
                                                    <div class="sparkline_line"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-widget style2">
                                            <div class="b-meta"> <img src="{{ asset('TemplateAdmin/images/image.png') }}" alt="" width="50" height="50">
                                                <div class="info-meta">
                                                    <span>Nombre des Oeuvre d'art</span>
                                                    <h4>{{ totalArtworksCount }} </h4>
													
                                                    
                                                </div>
                                                <div class="spark">
                                                    <div class="sparkline_three"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-widget style2">
                                            <div class="b-meta"> <img src="{{ asset('TemplateAdmin/images/categorie.png') }}" alt="" width="40" height="40">
                                                <div class="info-meta">
                                                    <span>La meilleur catégorie</span>
                                                    <h4 style="font-size: 25px;">{{ bestCategoryName }}</h4>
                                                    
                                                </div>
                                                <div class="spark">
                                                    <div class="sparkline22"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

	<div class="widget">
		<div class="widget-title no-margin">
			<h4>Catégorie</h4>
			<ul class="widget-controls">
				
				<li title="Ajouter nouveau catégorie" class="refresh-content">
					<a href="{{ path('app_categorie_new') }}"><img src="/TemplateAdmin/images/plus.png" style="width: 25px; height: 25px;" alt="Ajouter Catégorie">
						Ajouter Catégorie</a>
				</li>
			</ul>
			
		</div>
		<div class="main-table">
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th>Id du catégorie</th>
						<th>Nom du catégorie</th>
						<th>Nombre d'œuvres d'art</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>{% for categorie in categories %}

					<tr>
						<td>
							<span c"sr"lass=>{{ categorie.idcategorie }}</span>
						</td>
						<td>
							<div class="project-title">
								<h5>{{ categorie.nomcategorie }}</h5>
							</div>
						</td>


						<td>
							<span class="progres">{{ categoriesWithArtworksCount[categorie.idcategorie] }}</span>
						</td>
						<td>
							<div class="prj-team">
								<ul>
									<li>
										<a href="{{ path('app_categorie_edit', {'idcategorie': categorie.idcategorie}) }}" class="edit-btn">
											<img src="/TemplateAdmin/images/editer.png" alt="Modifier" style="width: 24px; height: 24px;">
										</a>
									</li>
									<li>
										{{ include('categorie/_delete_form.html.twig') }}
									</li>
								</ul>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
{% endblock %}

