{% extends 'base.html.twig' %}

{% block title %}Panieroeuvre{% endblock %}

{% block body %}
    <h1>Panieroeuvre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ panieroeuvre.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ panieroeuvre.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_panieroeuvre_index') }}">back to list</a>

    <a href="{{ path('app_panieroeuvre_edit', {'id': panieroeuvre.id}) }}">edit</a>

    {{ include('panieroeuvre/_delete_form.html.twig') }}
{% endblock %}
